<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="../static/main.js"></script>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="icon" href="../static/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Determination generator</title>
    </head>
    <body>
        <div id="ButtonTextContainer">
            <h3 id="textPlaceholder">hi!</h3>
            <button id="save">SAVE<img id="determinationIcon" src="../static/determination.png"></button>
        </div>
    </body>
</html>